#section1{
    border: 2px solid green;
     height: 78vh;
     background-image:url("./images/bubbles-mobile.svg"),linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     color: #fff;
}
#section1 span svg{
    height: 36em;
    position: absolute;
    left: 300px;
    top: 180px;
}
#section1 img{
     width: 267px;
     height: 412px;
     position: absolute;
     top: 238px;
     left: 305px;
}
#section1 div{
    position: absolute;
    top:250px ;
    left: 650px;
}
#section1 div h1{
    color: white;
    font-size: 60px;
    font-weight: 900;
}
#section1 div button{
    height: 60px;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    font-weight: 300;
}
/* ************************************************************************** */
#section2{
    /* border: 2px solid red; */
    height: 80vh;

}
#sub-section2{
    /* border: 2px solid green; */
    width: 80%;
    height: inherit;
    margin: auto;
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sub-section2>h2{
    position: absolute;
    top: 750px;
    font-size: 40px;
    font-weight: 900;
    
}
#sub-section2 ul{
    list-style: none;
    display: flex;
    padding: 35px;
}
#sub-section2 ul li{
    padding: 20px;
}
.img-div{
    /* border: 2px solid black; */
    height: 300px;
    width: 260px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.img-div img{
    height: 142px;
}
.img-div h2{
    font-size: 21px;
    line-height: 1.3em;
}
.img-div p{
    line-height: 1.6em;
}
/*********************************************************** */
#section3{
    /* border: 2px solid red; */
    height: 68vh;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    text-align: center;
    padding: 250px;
    
}
#section3 div h1{
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));;
}
/************************************************************/
#section4{
    height: 80vh;
    
}
#section4 div{
    border: 2px solid red;
    width: 80%;
    height: inherit;
    margin: auto;
    padding-top: 100px;
   /* display: flex;
   padding-top: 60px;
   align-items: center;
   flex-direction: column; */
}
#section4 div h1{
    font-size: 38px;
    padding-left: 500px;
}
#section4 div ul{
    border: 2px solid black;
    list-style: none;
    margin: 40px;
    padding: 20px;
}
#section4 div ul li{
       padding: 20px;
}


/*****************************************************************/
#section5{
    height: 63vh;
    background-image:url("./images/bubbles-mobile.svg"),linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
}
#section5 div{
    padding-top: 145px;
    font-size: 48px;
    font-weight: 900;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));;
}
#section5 div button{
    height: 60px;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    font-weight: 300;
}
/* ******************************************************************* */
#section6{
    /* border: 2px solid blue; */
    height: 82vh;
    background-color: black;
    color: #fff;
}
#section6>div{
    /* border: 2px solid green; */
    height: inherit;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#sub-section6_1{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 100px;
}
.sub-section6_2{
    /* border: 2px solid green; */
    width: 250px;
    height: 350px;
    margin-top: 75px;
}
.sub-section6_2 .fa-brands{
    font-size: 40px;
    padding: 5px;
}
.sub-section6_1_1{
    /* border: 2px solid green; */
    width: 150px;
    height: 350px;
    margin: 10px;
    padding:10px;
}
.sub-section6_1_1 svg{
    fill: #fff;
}
.sub-section6_1_1 ol{
    list-style: none;
}
.sub-section6_1_1 ol li{
    line-height: 2.5em;
}
